        /****** body *****/
        
        
        
        
body {
      font-family: 'Roboto', sans-serif;
      margin: 0px;
      padding: 0px;
  background:url(../images/blue.png);
  background-position: center;
  background-repeat:repeat;
  }
@media screen and (min-width: 768px) and (max-width: 1024px){ /* Specific */
 body{
      margin-left: 0px;
      float: left;
      padding: 0px;
     
 }
}

.tangerine {
    font-family: "Tangerine", serif;
}


/******* randing view ******/





.image-big {
  /* Set rules to fill background */
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 400px;
  height: 100%;
    margin-bottom: 15px;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}
 
  
	
  /****** Set up positioning ******/
  
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .imge-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

/************ Navbar *********/



.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: #4a4a4f;
}
.navbar {
    margin-bottom: 0px;
    width: 100%;
    color: black;
    background-color:	#0000FF;
    border: 0px;
    height: 0px;
    }
    .hovertop{
    display: inline;
    width: 106px
}
.navbar .navbar-toggler {
    border: 0;
    border-radius: 25px;
    }
.navbar .navbar-brand {
    font-weight: bold;
    color: orange;
    width: 110px;
    }
.navbar .navbar-nav  {
    font-weight: bold;
    color: black;
    background-color: 	#0000FF;
    border-radius: 5px;
    margin: 12px;
    text-align: center;
    overflow-y:visible;
     z-index: 1;
    position: relative;
    height: 100%;
   }
.nava{
     color: black;
     background-color: blue;
     margin: 15px;
    }   
    .navbar .navbar-nav :hover{
    color: orange;
    background-color: clear;
   }
.dropdownMenu{
    list-style: none;
    margin:0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;
    width: 150px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.card-body{
    background-color: #66CDAA;
      border-radius: 20px;
}
.card{
    margin: 25px;
  }
.card-group{
    margin: 15px;
}

.form-control{
    width: 15px;
    text-align: center;
    margin-right: 20px;
}





/****** Buttons. ******/

.btn--cta {
    font-weight: bold;
    border-radius: 9px;
    padding-right: 15px;
    }
.btn--red {
    background-color: #8B008B;
    margin-left: 50px;
    margin-right: 50px;
    height: 35px;
    }
.btn{
    color: white;
    border-color: white;
    width: 110px;
    margin-top: 20px;
   background-color:orange;
}







/******* signup butoon *******/


@media screen and (min-width: 0px) and (max-width: 700px) {
  #my-content{ display: none; }  /* show it on smaller screen */
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
   }
.uppercase {
    text-transform: uppercase;
    font-size: 20px;
   text-align: center;
    padding: 8px;
 }
     .row-table {
    display: table;
}
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300px;
    margin-top: 25px;
    margin-bottom: 40px;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
 }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  }

.hovertop:hover{
    color: orange;
    background-color: red;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:0px;
  border: 1px solid white;
  
}
.activiti{
    display: inline-block;
    text-align: center;
    width: 100%;
}


.card-title {
    background-color: #FFF5EE;
    border-radius: 0px;
    margin: 10px;
    text-align: center;
    padding-top: 15px;
    
}
.card-body{
    border-radius: 0px;
    background-color: #2F4F4F;
    color: white;
    
}
.card-book{
    color: tomato;
}

.wrapper{
   display: inline-block;
   text-align: center;
    margin-bottom: 50px;
    border-radius: 7px;
    border: 3px solid 	#800000;
    
}
.picture {
    position: relative;
    float: left;
    width:  100px;
    height: 200px;
    
    }
.hero-text {
 
 float:left;
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.warning{
    background-color:#D2691E  ;
    border-radius: 15px;
    width: 300px;
    
}
.warning:hover{
    background-color: #BC8F8F;
}
.medium{
    text-align: center;
   
    margin-bottom:0px;
}


.modal-body{
    background-color: lightblue;
}









/******* Tour ********/



/* Style the tab content tour&adress */
.tabcontent {
  color: white;
  display: block;
  
  
}
.europe {
    margin: 40px;
    text-align: center;
  
    
}
.call{
    background-color: #337ab7;
    margin-top: 40px;
}




/******** image fixed on jumbtron *******/


#landing-view {
    background-attachment: fixed;
    background-image: url('../images/dd.png');
    background-repeat: repeat-x; 
    background-position: bottom;
    background-size: cover;
   height: 100vh;
    width: 100vw;
    z-index: 1; 
    top:0;
 
}
.top {
    padding-left: 12px;
    margin-top: 12%;
}
h1 {
    padding-top: 5%;
    font-size: 5.5em;
}
.jumbotron p {
    font-size: 2em;
}

.card-image{
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

/* album*/


    /******* footer ******/
    
    
   
.footer {
    background-color: 	#0000FF;
    color: #F0FFFF;
    height: 130px;
   
    border-radius: 7px;
    text-align: center;
    display: block;
    margin-top:100;
    margin-left: 0px;
    margin-right:0px;
}
.foot{
    margin-top: 650px;
    margin-left: 0px;
    margin-right: 0px;
}


.social-links {
    padding-bottom: 5px;
}

.social-links  li a i {
    width: 35px;
    border-radius: 30px;
    font-size: 33px;
    line-height: 77px;
    text-align: center;
    color: orange;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #51D1E5;
}
 
 
 
 
 .cabout{
     margin: 40px;
 }
 
 /****tour******/
 .my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.button{
    background-color: red;
   
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}	

.cente{
    text-align: center;
    
}

/***video***/

.vevo{
    display: inline-block;
   text-align: center;
   
 padding: 20px;
  
}


.box{
    border: 5px solid white;
    margin-bottom: 40px; 
    margin-top: 40px;
    cover: 100%;
    border-radius: 9px
}
.kad{
    color: white;
    width: 282px;
    border: 3px solid #eee;
}

.kado{
    background-color: tomato;
    text-align: center;
}
.audi{
    display: inline-block;
    margin: 20px
   ;
}

/***gallery**/

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

/***end gallery**/


.join{
    color: white;
}